{% assign concert = site.data.data.concert_experience %}
{% if concert %}
<section class="section concert-section">

  <h2 class="section-title">
    <span class="fa-stack fa-xs">
      <i class="fas fa-circle fa-stack-2x"></i>
      <i class="fas fa-music fa-stack-1x fa-inverse"></i>
    </span>
    {{ concert.title }}
  </h2>

  {% if concert.intro %}
  <div class="intro">
    <p>{{ concert.intro }}</p>
  </div>
  {% endif %}

  {% for item in concert.list %}
  <div class="item">
    <strong class="work">{{ item.title | default: item.program }}</strong>
    <div class="meta">
      {% if item.role %}<strong>Role:</strong> {{ item.role }}<br>{% endif %}
      {% if item.company %} <strong>Company/Ensemble:</strong> {{ item.company }}{% elsif item.ensemble %}<strong>Ensemble:</strong> {{ item.ensemble }}{% endif %}{% if item.music_director or item.conductor %}<br>{% endif %}
      {% if item.music_director %}<strong>Music Director:</strong> {{ item.music_director }}{% elsif item.conductor %}<strong>Conductor:</strong> {{ item.conductor }}{% endif %}{% if item.date %}<br>{% endif %}
      {% if item.date %}<strong>Date:</strong> {{ item.date }}{% endif %}
    </div>
    {% if item.notes %}
      <div class="details">{{ item.notes }}</div>
    {% endif %}
  </div>
  {% endfor %}

</section>
{% endif %}
