{% assign opera = site.data.data.opera_experience %}
{% if opera %}
<section class="section opera-section">

  <h2 class="section-title">
    <span class="fa-stack fa-xs">
      <i class="fas fa-circle fa-stack-2x"></i>
      <i class="fas fa-theater-masks fa-stack-1x fa-inverse"></i>
    </span>
    {{ opera.title }}
  </h2>

  {% if opera.intro %}
  <div class="intro">
    <p>{{ opera.intro }}</p>
  </div>
  {% endif %}

  {% for item in opera.list %}
  <div class="item">
    <strong class="work">{{ item.production | default: item.work }}</strong>
    <div class="meta">
      {% if item.role %}<strong>Role:</strong> {{ item.role }}<br>{% endif %}
      {% if item.company %}<strong>Company:</strong> {{ item.company }}<br>{% endif %}
      {% if item.conductor %}<strong>Conductor:</strong> {{ item.conductor }}<br>{% endif %}
      {% if item.director %}<strong>Director:</strong> {{ item.director }}<br>{% endif %}
      {% if item.date %}<strong>Date:</strong> {{ item.date }}{% endif %}
    </div>
    {% if item.notes %}
      <div class="details">{{ item.notes }}</div>
    {% endif %}
  </div>
  {% endfor %}

</section>
{% endif %}
